header {

  h1 {
    margin-bottom: 20px;
    margin-top: 8px;
  }
  
  .p-intro  {
    display: flex;
    justify-self: center;
    text-align: center;
    margin-bottom: 80px;
    max-width: 680px;
    width: 100%;
    
  }

}

.span-intro  {
  
  margin-top: 56px;

}

.header-projeto {
  
  width: fit-content ;
  margin: 0 auto;
  
  h3 {
    padding-top: 144px;
    color:#E3646E;
    padding-bottom: 8px;
    text-align: center;

  }

  
  
}

.header-services {
  width: fit-content ;
  margin: 0 auto;
  
  h3 {
    padding-top: 144px;
    color:#E3646E;
    padding-bottom: 8px;
    text-align: center;

  }

}

.header-contato {
width: fit-content;
margin: 0 auto;
display: flex;
flex-flow: column;
justify-content: center;
align-items: center;
padding-bottom:48px;

}

.header-contato:nth-child(1) {
  margin-top: 128px;
  margin-bottom: 8px;
}

.person-image-container {
  position: relative;
}

