header {

  h1 {
    margin-bottom: 20px;
    margin-top: 8px;
  }
  
  .p-intro  {
    display: flex;
    justify-self: center;
    text-align: center;
    margin-bottom: 80px;
    max-width: 680px;
    width: 100%;
    
  }

}

.span-intro  {
  
  margin-top: 56px;

}

.header-projeto {
  
  width: fit-content ;
  margin: 0 auto;
  
  h3 {
    
    color:#E3646E;
    padding-bottom: 8px;
    text-align: center;
    
    
    

  }

  
  
}

